parameters:
  level: 6

  excludePaths:
    # Geocoder dependency not resolved during test.
    -  */src/Plugin/Geocoder/*
    # Migrate dependency not resolved during test.
    -  */src/Plugin/migrate/*
    -  */src/Plugin/migrate_plus/*
    # Feeds dependency not resolved during test.
    -  */src/Plugin/Tamper/*
    -  */src/Feeds/*
    - modules\geolocation_geometry\modules\geolocation_geometry_data\geolocation_geometry_data.install
    # Hook implementations are weird.
    -  *.module
    -  *.tokens.inc
    # Address dependency not resolved during test.
    -  modules/geolocation_address/*
    # SearchAPI dependency not resolved during test.
    -  modules/geolocation_search_api/*
    # Geocodio dependency not resolved during test.
    -  modules/geolocation_geocodio/*
    # Geofield dependency not resolved during test.
    -  modules/geolocation_geofield/*
    # GPX dependency not resolved during test.
    -  modules/geolocation_gpx/*

  ignoreErrors:
    # best practice in Drupal, so we cannot fix that.
    - '#Unsafe usage of new static\(\)#'
    - '#\\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#no value type specified in iterable type#'
    - "#with generic interface Drupal\\\\Core\\\\Field\\\\FieldItemListInterface but does not specify its types#"
    - "#Call to an undefined method Drupal\\\\Tests\\\\WebAssert::waitForElement#"
    - "#Call to an undefined method Drupal\\\\Tests\\\\WebAssert::assertWaitOnAjaxRequest#"
